<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mdlicht.zb.exampleproject">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.location.gps"/>

    <application
            android:name=".common.MultiDexApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".mvppractice.activity.MvpPracticeActivity">
        </activity>
        <activity android:name=".exoplayer.acitivity.VideoListActivity">
        </activity>
        <activity
                android:name=".exoplayer.acitivity.SingleVideoActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
                android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".exoplayer.acitivity.ExoPlayerActivity">
        </activity>
        <activity android:name=".xmlparsing.activity.XmlParsingActivity">
        </activity>
        <activity android:name=".baserecyclerview.activity.BaseRecyclerViewActivity">
        </activity>
        <activity android:name=".room.activity.RoomActivity">
        </activity>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDR3ASP6QNA2CtSzKkAhGdueSq6ccUi--o"/>

        <activity android:name=".main.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".socialsnslogin.activity.SocialLoginActivity">
        </activity>
        <activity android:name=".rxbasic.activity.RxBasicActivity">
        </activity>
        <activity android:name=".databinding.activity.DatabindingExampleActivity">
        </activity>
        <activity android:name=".simpletranslator.activity.SimpleTranslatorActivity">
        </activity>
        <activity android:name=".googlemap.activity.GoogleMapActivity">
        </activity>
        <activity android:name=".recyclerviewwithad.activity.RecyclerViewWithAdActivity">
        </activity>
        <activity android:name=".constraintlayout.activity.ConstraintLayoutActivity">
        </activity>
        <activity
                android:name=".collapsingtoolbar.activity.CollapsingToolbarActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".rangechart.activity.RangeChartActivity">
        </activity>
        <activity
                android:name=".zigzagfilter.activity.ZigzagFilterActivity"
                android:label="@string/title_activity_zigzag_filter"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>